In [2]:
import pandas as pd 
df= pd.read_csv('data.csv')
df.head()

         date cumDeaths cumInjuries  dailyDeaths dailyInjuries
0  07-10-2023       232       1,697          232         1,697
1   8-10-2023       370       2,200          138           503
2  09-10-2023       560       2,900          190           700
3  10-10-2023       900       4,250          340         1,350
4  11-10-2023     1,100       5,339          200         1,089

In [3]:
columns = df.columns
columns = [x for x in columns if x != 'date']
columns
for column in columns:
    df[column] = df[column].replace(r'\D*(\d+)\D*', r'\1', regex=True)
    df[column] = pd.to_numeric(df[column], errors='coerce', downcast='integer').astype('Int64')

In [4]:
df.dtypes

date             object
cumDeaths         Int64
cumInjuries       Int64
dailyDeaths       Int64
dailyInjuries     Int64
dtype: object

In [5]:
data= df[['date','cumDeaths']]
data.to_csv('cumdeaths.csv')

In [27]:
df.to_csv("numeric_data.csv")

In [1]:
df

NameError: name 'df' is not defined